h1{
    color: #fff;
    font-family: avant-gard;
    font-size: 70px;
    text-align: center;
}
.imagen-inicio{
    width: 100%;
    background-image: url(https:/updt1.netlify.app/images/imagen-inicio.png);
}