
body{
    background-color: rgba(26, 26, 26, 1);
}
/* Inicio barra de navegación */
.barra-navegacion{
    width: 100%;
}
.updt-banner{
    width: 200px;
    padding: 5px;
    padding-top: 15px;
}
.botones{
    width: 60px;
    background-color: #F8F9F9;
    border-radius: 10px;
    margin-left: 50px;
    border: 0%;
    
}
.botones:hover{
    background-color:#D7DBDD ;
}
/* Fin barra de navegación */
.container{
    background-color: #ECF0F1;
    border-radius: 20px;
    width: 95%;
    height:100%;
    position:absolute;
    top: 110px;
    margin-left: 2%;
    margin-right: 2%;

}
h1{
    color: #000000;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 60px;
}
/* Inicio de botón para unirse */
.button-link {
    background-color: #248045;
    color: #fffdf2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 50px 2px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: all 0.3s ease;
    position: relative;
    left: 490px;
    top: -35px;
}

.button-link:hover {
    background-color: #14522d;
    color: #fffdf2;
}

.button-link:active {
    background-color: #248045;
    color: #fffdf2;
    transform: translateY(4px);
}
/* Fin de botón para unirse */
.invite{
    border-radius: 8px;
    position: relative;
    left: 630px;
    width: 500px;
}