body{
    background-color: #01040a;
    margin: 0;
    padding: 0;
}
.barra-up{
    border-bottom: 2px solid #292929 ;
    height: 100px;
}
.logo{
    text-decoration: none;
    color: #01040a;
}
.logo-img{
    width: 200px;
    padding-top: 0.7%;
    padding-left: 0.5%;
}
.invite-img{
    width: 50px;
}

.invite {
    position: relative;
    margin-left: 100px;
    margin-bottom: 100px;
    text-decoration: none;
    background-color: #5764f2;
    width: 300px;
    height: 70px;
    border-radius: 0.75rem;
    border: 3px solid white;
    box-sizing: content-box;
    overflow: hidden;
    position: absolute;
    margin-top: 13px;
}

.invite-text {
    text-decoration: none;
    color: #F8F9F9;
    font-size: 40px;
    font-family: Quicksand;
    padding-left: 0.5px;
    padding-bottom: 50px;
    box-sizing: content-box;
}


.invite:hover{
    background-color: #3A43A0;
    transition: all 0.5s ease;
}
.invite:not(:hover){
    transition: all 0.5s ease;
}

.bot-all{
    text-decoration: none;
    width: 200px;
    height: 70px;
    border-radius: 5px;
    box-sizing: content-box;
    margin-left: 700px;
    margin-top: -70px;
}
.bot-all:hover{
    background-color: #292929;
    transition: all 0.5s ease;
}
.bot-all:not(:hover){
    transition: all 0.5s ease;
}
.barra-left-text{
    text-decoration: none;
    color: #F8F9F9;
    font-size: 40px;
    font-family: Quicksand;
}
.bot-text{
    margin-bottom: 10px;
}

.ayudante-img, .postulaciones-img, .contacto-img{
    padding-top: 10px;
    padding-left: 50px;
}

.postulaciones-all{
    text-decoration: none;
    width: 400px;
    height: 70px;
    border-radius: 5px;
    box-sizing: content-box;
    margin-left: 1000px;
    margin-top: -70px;
}
.postulaciones-all:hover{
    background-color: #292929;
    transition: all 0.5s ease;
}
.postulaciones-all:not(:hover){
    transition: all 0.5s ease;
}

.contacto-all{
    text-decoration: none;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    box-sizing: content-box;
    margin-left: 1500px;
    margin-top: -70px;
}
.contacto-all:hover{
    background-color: #292929;
    transition: all 0.5s ease;
}
.contacto-all:not(:hover){
    transition: all 0.5s ease;
}