body{
	background-color:rgba(26, 26, 26, 1);
}
h1{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration:underline;
	font-family: Quicksand;
	font-size: 30px;
	letter-spacing: 2px;
}

p{
	color: #fff;
	font-family: Montserrat-Light;
	font-size: 15px;
	
}

a{
	color: #4894f7;
	text-decoration: underline;
}

ul{
	color: #fff;
	font-family: Montserrat-Light;
	font-size: 15px;
	line-height: 2;
}