@font-face {
    font-family: Quicksand;
    src: url(Quicksand-Bold.ttf) format("truetype");
}

@font-face {
    font-family: Montserrat-Light;
    src: url(Montserrat-Light.ttf) format("truetype");
}
@font-face {
    font-family: Roboto-A;
    src: url(Roboto-Italic.ttf) format("truetype");
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(Montserrat-Black.ttf) format("truetype");
}
@font-face {
    font-family: avant-gard;
    src: url(AVGARDD_2.TTF) format("truetype");
}
@font-face {
    font-family: avant-gard-light;
    src: url(AVGARDN_2.TTF) format("truetype");
}